@model List< MVCProjem.Models.YazarModel>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
<head>
    <title>FORM ETİKETLERİ</title>
    <meta charset="utf-8">
</head>
<body>
   
Bu sayfa Henüz tasarım aşamasındadır.

    

</body>

</html>