@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>

    <head>  <title></title> </head>


    <body>
        <h1>Öğrenci listesini Gösteren sayfa</h1>

    </body>

</html>
