@{
    ViewData["Title"] = "Home Page";
    
}
<!--
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
-->

<table>
    <tr>
        <th>Name</th>
        <th>Subject</th>
        <th>Marks</th>
    </tr>
    <tr>
        <td>@ViewData["ad"] </td>
        <td>@ViewData["soyad"]</td>
        <td>67</td>
    </tr>
    <tr>
        <td>Maths</td>
        <td>Turkish</td>
        <td>82</td>
    </tr>
    <tr>
        <td>Science</td>
        <td>English</td>
        <td>91</td>
    </tr>
</table>